{% extends "base/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    {% from "_macro.html" import render_field %}

    <div class="login-page">
        <div class="form">
            <form id="" class="login-form" action="" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                {{ render_field(form.username, class="login-field", id="username") }}
                {{ render_field(form.password, class="login-field", id="password") }}
            
                <button type="submint">Log in</button>
            
                <p class="message">Not registered? <a href="{{ url_for('signup') }}">Sign Un</a></p>
            </form>
        </div>
    </div>

{% endblock %}