{% extends "base/base.html" %}

{% block title %} Review {% endblock %}

{% block content %}

    <div class="container">
        {% if comments %}
            {% for i in comments.items %}
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <hr>
                        <h2 class="section-heading"> {{ i.username }} </h2>
                        <h5> {{ date_format(i.create_date) }} </h5>
                        <p> {{ i.text }} </p>
                    </div>

                    <form method="POST" action="/update_delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="comment" value="{{ i[0] }}">
                        <input type="hidden" name="comment_text" value="{{ i.text }}">
                        <input type="hidden" name="id_" value="{{ i.id }}">
                        <button type="submit" name="operation" value="1">Update</button>
                        <button type="submit" name="operation" value="2">Delete</button>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
