{% extends "base/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    {% from "_macro.html" import render_field %}

    <div class="signup-page">
        <div class="form">
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                {{ render_field(form.username, class="form-field") }}
                {{ render_field(form.email,    class="form-field") }}
                {{ render_field(form.password, class="form-field") }}
            
                <button type="submint">Sign Up</button>
            
                <p class="message">Have an account? <a href="{{ url_for('login') }}">Log In</a></p>
            </form>
        </div>
    </div>

{% endblock %}